$main-accent: hsl(257, 40%, 49%);
$active-state: #e882e8;
$headings-font: 'Poppins', sans-serif;
@use 'reset'; // Import css reset from another file

body {
    font-family: 'Open Sans', sans-serif;
    background: url('/images/bg-mobile.svg') no-repeat center top;
    background-color: $main-accent;
}

header {
    padding: 8% 10% 0 10%;

    .header__logo {
        height: 35px;
    }
}

main {
    padding: 0 10%;
}

.hero {
    text-align: center;

    .hero__bg-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 3.7rem 0;
    }

    .hero__heading {
        font-family: $headings-font;
        color: white;
        max-width: 20ch;
        margin: auto;
        margin: 1rem;
    }

    .hero__text {
        color: white;
        margin-bottom: 1.5rem;
    }

    .hero__btn {
        font-family: $headings-font;
        font-weight: 400;
        font-size: 0.8rem;
        background-color: white;
        color: $main-accent;
        border: none;
        border-radius: 25px;
        padding: 0.6rem 4.5rem;
        margin-bottom: 1rem;
        box-shadow: 0px 1px 5px rgb(0, 0, 0);
    }

    .hero__btn:hover {
        background-color: $active-state;
        color: white;
    }
}

.footer__links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
        border-radius: 50%;
        border: 1px solid white;
        padding: 0.5rem;
        width: 35px;
        height: 35px;
    }

    li:hover {
        filter: invert(73%) sepia(57%) saturate(787%) hue-rotate(236deg) brightness(292%) contrast(98%);
    }

    .link--icon {
        pointer-events: none;
        filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(324deg) brightness(106%) contrast(101%);
        width: 100%;
        height: 100%;
    }
}

.footer__links li:not(:last-child) {
    margin-right: 1rem;
}